@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    @apply bg-[#20c8d6];
    @apply text-[#d9d9d9];
    background-image: url("./assets/bg2.jpg");
    font-family: "rapid";
    
  }
}

@font-face {
  font-family: "Rapid";
  src: url("./fonts/RapidtechDemoRegular.ttf");
}